---
import TitleSection from '../../text/TitleSection.astro'
import BackgroundText from '../../../components/BackgroundText.astro'
import BackgroundTool from '../../../containers/BackgroundTool.astro'
import { background } from '../../../data/background'
import AstroIcon from '../../../components/icons/tools/AstroIcon.astro'
import Azure from '../../../components/icons/tools/Azure.astro'
import Css from '../../../components/icons/tools/Css.astro'
import Docker from '../../../components/icons/tools/Docker.astro'
import Express from '../../../components/icons/tools/Express.astro'
import Git from '../../../components/icons/tools/Git.astro'
import Html from '../../../components/icons/tools/Html.astro'
import Java from '../../../components/icons/tools/Java.astro'
import Javascript from '../../../components/icons/tools/Javascript.astro'
import Jest from '../../../components/icons/tools/Jest.astro'
import Mongodb from '../../../components/icons/tools/Mongodb.astro'
import Nextjs from '../../../components/icons/tools/Nextjs.astro'
import Nodejs from '../../../components/icons/tools/Nodejs.astro'
import Postgresql from '../../../components/icons/tools/Postgresql.astro'
import Python from '../../../components/icons/tools/Python.astro'
import React from '../../../components/icons/tools/React.astro'
import ReactNative from '../../../components/icons/tools/ReactNative.astro'
import Redux from '../../../components/icons/tools/Redux.astro'
import Sql from '../../../components/icons/tools/Sql.astro'
import Tailwind from '../../../components/icons/tools/Tailwind.astro'
import TestingLibrary from '../../../components/icons/tools/TestingLibrary.astro'
import Typescript from '../../../components/icons/tools/Typescript.astro'
import Vitejs from '../../../components/icons/tools/Vitejs.astro'
import DescriptionSection from '../../text/DescriptionSection.astro'
---

<section id="background" class="px-2 md:px-20 mt-5">
  <TitleSection>Background</TitleSection>
  <DescriptionSection>
    Estas son algunas de las tecnologías que he utilizado en mis proyectos
    personales y profesionales, y de los que tengo conocimientos más afianzados.
  </DescriptionSection>
  <div class="swiper-background overflow-hidden mt-10">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <BackgroundTool>
          <Javascript />
          <BackgroundText>
            {background.javascript}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Java />
          <BackgroundText>
            {background.java}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Python />
          <BackgroundText>
            {background.python}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Html />
          <BackgroundText>
            {background.html}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Css />
          <BackgroundText>
            {background.css}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Typescript />
          <BackgroundText>
            {background.typescript}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Nodejs />
          <BackgroundText>
            {background.nodejs}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <React />
          <BackgroundText>
            {background.reactjs}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <ReactNative />
          <BackgroundText>
            {background.reactnative}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Tailwind />
          <BackgroundText>
            {background.tailwindcss}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <AstroIcon />
          <BackgroundText>
            {background.astro}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Nextjs />
          <BackgroundText>
            {background.nextjs}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Express />
          <BackgroundText>
            {background.express}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Redux />
          <BackgroundText>
            {background.redux}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Vitejs />
          <BackgroundText>
            {background.vitejs}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Jest />
          <BackgroundText>
            {background.jest}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <TestingLibrary />
          <BackgroundText>
            {background.testinglibrary}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Mongodb />
          <BackgroundText>
            {background.mongodb}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Sql />
          <BackgroundText>
            {background.sql}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Postgresql />
          <BackgroundText>
            {background.postgresql}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Git />
          <BackgroundText>
            {background.git}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Docker />
          <BackgroundText>
            {background.docker}
          </BackgroundText>
        </BackgroundTool>
      </div>
      <div class="swiper-slide">
        <BackgroundTool>
          <Azure />
          <BackgroundText>
            {background.azure}
          </BackgroundText>
        </BackgroundTool>
      </div>
    </div>
  </div>
</section>
